head
  title Ceneoid
  meta(http-equiv='X-UA-Compatible', content='IE=edge')    
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
  script(type="text/javascript" src="//api.filepicker.io/v1/filepicker.js")

body
  div#page-top.index
    // Navigation
    nav.navbar.navbar-default
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='#page-top') Ceneoid
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            |                     
            li.page-scroll
              a(href='#portfolio') Categories
            |                     
            li.page-scroll
              a(href='#products') Products
            |                     
            li.page-scroll
              a(href='#addproduct') Add product or retailer

    header
      .container(padding-top="10px !important")
        .row
          .col-lg-12
            .intro-text
              span.name Vallkomen till Ceneoid
              img.img-responsive(src="img/happy.png", alt='')
              |                         
              hr.star-light

    section#portfolio
      .container
        .row
          .col-lg-12.text-center
            h2 Categories
            |                     
            hr.star-primary
        |             
        .row
          +categories

    section#about.success.products
      #products.container
        +products

    section#contact.retailers
      .container
        +retailers

    section#addproduct.success
      .container
        +addproduct

    section#addretailer.success
      .container
        +addretailer
          
    // Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Location
              |                         
              p
                | Historiegrand 6A
                br
                | SE-90734 Umea   
            .footer-col.col-md-4
              h3 About
              |                         
              p
                | Service is a part of Assignment 1 <br>
                | in course Cloud Computing <br>
                | at Umea University.
      |         
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright &copy; Marta & Daniel 2015
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
  
  +notifications