head
  title Ceneoid
  meta(http-equiv='X-UA-Compatible', content='IE=edge')    
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

body
  div#page-top.index
    // Navigation
    nav.navbar.navbar-default
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='#page-top') Ceneoid
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            |                     
            li.page-scroll
              a(href='#portfolio') Categories
            |                     
            li.page-scroll
              a(href='#products') Products
            |                     
            li.page-scroll
              a(href='#addproduct') Add product

    header
      .container
        .row
          .col-lg-12
            .intro-text
              span.name Vallkomen till Ceneoid
              img.img-responsive(src="img/happy.png", alt='')
              |                         
              hr.star-light
              |                         
              form#contactForm(name='sentMessage', novalidate='')
                .row.control-group
                  .form-group.col-xs-12.controls
                    input#name.form-control(type='text', placeholder='Ex. Volkswagen Golf')

    section#portfolio
      .container
        .row
          .col-lg-12.text-center
            h2 Categories
            |                     
            hr.star-primary
        |             
        .row
          +categories

    section#about.success.products
      .container
        +products

    section#contact
      .container
        .row
          .col-lg-12.text-center
            h2 Retailers       
            hr.star-primary
        .row
          p hello

    section#addproduct.success
      .container
        .row
          .col-lg-12.text-center
            h2 Add new product!          
            hr.star-light
        .row
          p dupa
            //- form.form-inline
            //-   .form-group
            //-   label#inputname('name')
            //-   input#inputname.form-control(type='text', placeholder='Kundel Bury')
            //-   .form-group
            //-   label#inputcategory('category')
            //-   input#inputcategory.form-control(type='text', placeholder='Kundel Bury')
            //-   button.btn-default(type="submit") Submit

    // Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Location
              |                         
              p
                | Historiegrand 6A
                br
                | SE-90734 Umea
            |                     
            .footer-col.col-md-4
              h3 Find us
              |                         
              ul.list-inline
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-facebook
                |                             
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-google-plus
                |                             
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-twitter
                |                             
                li
                  a.btn-social.btn-outline(href='#')
                    i.fa.fa-fw.fa-linkedin
            |                     
            .footer-col.col-md-4
              h3 About
              |                         
              p
                | Service is a part of Assignment 1 <br>
                | in course Cloud Computing <br>
                | at Umea University.
      |         
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright &copy; Marta & Daniel 2015
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
