/* CSS declarations go here */
.navbar .navbar-default {
  margin-bottom: 0;
}

.product-item a {
  color: #ccc;
}

.products a.sort {
  color: #2c3e50;
}

.form-product-review input {
  color: #333;
}