/* CSS declarations go here */
.navbar .navbar-default {
  margin-bottom: 0;
}

.product-item a {
  color: #ccc;
}

.products a.sort {
  color: #2c3e50;
}

.products a.remove-category {
  color: #2c3e50;
}

.form-product-review input {
  color: #333;
}

.margintop {
    margin-top: 50px;
}

.margin10 {
    margin: 10px 0px;
}
.progressInner {
	width: 300px !important;
}
.width150 {
	width: 150px !important;
}

li.notification.success {
  position: fixed;
  top: 0;
  right: 0;
}