template(name="category")
  .col-sm-4.portfolio-item
    a.portfolio-link.category-link.page-scroll(href='#', data-toggle='modal')
      .caption
        .caption-content
          p #{name}          
      img.img-responsive(src="img/#{image}", alt='')
