//- template(name="product_create")
//-   if productscreating
//-     form(class="product-form-create")
//-       input(name="name" type="text")
//-       button(type="submit") Submit
//-       a(class="cancel" href="#") Cancel
//-   else
//-     a(class="product-create" href="#") Add product