template(name="products")
  if currentcategory
    .row
      .col-lg-12.text-center
        h2 #{currentcategory.name}
        hr.star-light 
    .row        
      ul
        each currentcategory.products
          li 
            +product
  else
    .row
      .col-lg-12.text-center
        h2 Products
        hr.star-light
    .row
      ul
        each allproducts
          li
            +product