template(name="products")
  h3 Products
  if products_creating
    form(class="products-form-create")
      input(name="products-name" type="text")
      button(type="products-submit") Submit
      a(class="products-cancel" href="#") Cancel
  else
    a(class="products-create" href="#") Create
 
  ul
    each my_products
      li
        +product