template(name="products")
  .row
    .col-lg-12.text-center
      if currentcategory
        h2 #{currentcategory.name}
      else
        h2 Products
      hr.star-light
      a.btn.btn-warning.btn-lg.sort Sort by rating #{sortorder}
      if currentcategory
        | | 
        a.btn.btn-warning.btn-lg.sort(class="remove-category" href="#") Unselect category
  .row    
    ul.list-unstyled
      if currentcategory
        each categoryproducts
          li.margintop 
            +product
      else
        each allproducts
          li.margintop 
            +product