template(name="products")
  .row
    .col-lg-12.text-center
      if currentcategory
        h2 #{currentcategory.name}
      else
        h2 Products
      hr.star-light
      a(class="sort" href="#") Sort by rating #{sortorder}
      if currentcategory
        | | 
        a(class="remove-category" href="#") Unselect category
  .row        
    ul
      if currentcategory
        each categoryproducts
          li 
            +product
      else
        each allproducts
          li
            +product